$fontsize:14px;
$lineheight:1.5;
$radiusSize:4px;
$defaultcolor:#FFFFFF;
/*reset*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, 
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
html,body{
    margin:0;
    padding:0;
    background:#FAFAFA;
    font-size: $fontsize;
    font-family :Microsoft Yahei In-Bold,Microsoft Yahei,Apple LiGothic Medium;
    color:#222222; 
    width:100%;
    height:100%;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
label{
    position: relative;
    z-index: 2;
    display: inline-block;
}

.fix{
    zoom : 1; 
}
.fix:before,.fix:after {
    content:"";
    display:table;
    clear:both;
}
.fleft{
    float:left;
}
.fright{
    float:right;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
h1,.title_1{
    font-size: 38.5px;
    line-height: 40px;
    font-weight: normal;
}
h2,.title_2{
    font-size: 31.5px;
    line-height: 40px;
    font-weight: normal;
}
h3,.title_3{
    font-size: 21px;
    line-height: 40px;
    font-weight: normal;
}
h4,.title_4{
    font-size: 21px;
    line-height: 40px;
    font-weight: normal;
}
h5,.title_5{
    font-size: 14px;
    line-height: 40px;
    font-weight: bold;
}
h6,.title_6{
    font-size: 11.9px;
    line-height: 40px;
    font-weight: bold;
}
p{
    margin:10px 0 10px 0;
    line-height: $lineheight;
    font-size: 13px;
}

.fix{
    zoom : 1; 
}
.fix:before,.fix:after {
    content:"";
    display:table;
    clear:both;
}