@import "mixin.scss";
.photocutter{
    background:url(images/bg.png) repeat;
    position:relative;
    width:100%;
    height:100%;
    @include boxShadowIn(0 0 10px #AAA5A5);
    @include userSelect();
    cursor:default;
    canvas{
        position: absolute;
        left:0;
        top:0;
    }
    .tools{
        line-height:30px;
        background:white;
        position: absolute;
        left:0;
        bottom:0;
        right:0;
    }
    .tbtn{
        line-height: 30px;
        width:30px;
        text-align: center;
        display: inline-block;
        background:white;
        &:hover{
            background:#F0F0F0;
        }
    }
    .fbtn{
        line-height: 30px;
        text-align: center;
        width:30px;
        position:relative;
        display:inline-block;
        input{
            display: inline-block;
            width:30px;
            height:30px;
            position: absolute;
            left:0;
            top:0;
            opacity:0;
        }
        &:hover{
            background:#F0F0F0;
        }
    }
    .mask{
        position: absolute;
        left:0;
        top:0;
        right:0;
        bottom:0;
        background:rgba(255,255,255,.6);
        .openfile{
            width:100px;
            height:60px;
            position: absolute;
            left:50%;
            top:50%;
            margin-left:-50px;
            margin-top:-30px;
            line-height: 30px;
            text-align: center;
            input{
                display:inline-block;
                width:100px;
                height:60px;
                position: absolute;
                left:0;
                top:0;
                opacity: 0;
            }
        }
    }
}
.gallery{
    background:#333333;
    position:relative;
    width:100%;
    height:100%;
    overflow: hidden;
    @include userSelect();
    @include boxShadowIn(0 0 10px #AAA5A5);
    cursor:default;
    canvas{
        position: absolute;
        left:0;
        top:0;
    }
    .tools{
        line-height:30px;
        background:white;
        position: absolute;
        left:0;
        bottom:0;
        right:0;
    }
    .tbtn{
        line-height: 30px;
        width:30px;
        text-align: center;
        display: inline-block;
        background:white;
        vertical-align:top;
        &:hover{
            background:#F0F0F0;
        }
    }
    .thumbs{
        width:160px;
        position:absolute;
        top:5px;
        bottom:35px;
        right:5px;
        background:#F3F2F3;
        @include boxShadowIn(0 0 10px #483E3E);
        @include transition(all .3s ease-out);
        .bar{
            width:15px;
            position: absolute;
            top:0;
            left:0;
            bottom:0;
            text-align: center;
            i{
                position: absolute;
                top:50%;
                left:50%;
                margin-left:-5px;
                @include transition(all .3s ease-out);
            }
        }
        .listcon{
            position: absolute;
            left:15px;
            top:5px;
            right:5px;
            bottom:5px;
            /*border-left:1px solid #D7D7D7;*/
            /*padding:5px;*/
            overflow: hidden;
        }
        .img{
            height:130px;
            border:1px solid #D7D7D7;
            background:white;
            margin-bottom: 10px;
            padding:5px;
            position:relative;
            .mg{
                width:100%;
                height:100%;
                background-color:#E9EFF8;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            &.hover{
                .mg:after{
                    content:"";
                    width:0;
                    height:0;
                    display:block;
                    border-top:10px solid #4DB849;
                    border-right:10px solid #4DB849;
                    border-bottom: 10px solid transparent;
                    border-left:10px solid transparent;
                    color:white;
                    font-size:12px;
                    position: absolute;
                    right:0;
                    top:0;
                }
            }
        }
    }
    .desccon{
        padding:10px;
        background:rgba(5,5,5,.3);
        position: absolute;
        left:0;
        bottom:30px;
        right:0;
        pointer-events:none;
        color:white;
    }
    .mask{
        width:40px;
        height:40px;
        text-align: center;
        line-height: 40px;
        background:white;
        position: absolute;
        left:50%;
        top:50%;
        margin-left:-20px;
        margin-top:-20px;
        @include radiusSame(5px);
        .con{
            position:absolute;
            left:0;
            top:0;
            right:0;
            bottom:0;
            @include radiusSame(5px);
            @include boxShadowIn(0 0 10px #403E3E);
        }
    }
    &.close{
        .thumbs{
            @include translateX(150px);
            .bar i{
                @include rotate(180deg);
            }
        }
    }
}