<!--[page]-->
<%for(var i in data.modules){%>
<@module type="{{data.modules[i].type}}" option="{{data.modules[i].option}}"/>
<%}%>
<!--[base]-->
<div class="base-header">
    <div class="base-header-bg" data-find="bg"></div>
    <div class="base-header-icon" data-find="link">
        <a href="about" class="base-header-iconimg"><img src="site/style/images/logo.png"/></a>
    </div>
    <div class="base-header-desc">
        <div class="base-header-desc-a">hou80houzhu`s developworks</div>
        <div class="base-header-desc-b">
            This blog is created based on my open source projects <br/>
            Here we will record some of the things I think is worth sharing, as well as some of my projects dynamic<br/>
            Only to be a developer with craftsman spirit.</div>
    </div>
    <div class="base-header-contact">
        <a href="https://twitter.com/hou80houzhu" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://github.com/hou80houzhu" target="_blank"><i class="fa fa-github"></i></a>
        <a href="javascript:;" class="base-header-contact-pop">
            <i class="fa fa-wechat"></i>
            <div class="base-header-contact-pop-icon"><img src="site/style/images/wechat.png"/></div>
        </a>
        <a href="about" style="font-size:13px;" data-find="about">About</a>
    </div>
    <div class="base-header-projects">
        <div class="base-header-projects-a">my projects</div>
        <div class="base-header-projects-b">Those projects are all designed & developed by me.</div>
        <div class="row mid-fix on480-row-2col on768-row-3col">
            <div class="span1-6">
                <a class="base-header-projects-item" href="http://brightjs.org" target="_blank">
                    <img src="site/style/images/01.png"/>
                    <div class="base-header-projects-item-tip">An awesome web framework.</div>
                    <div class="base-header-projects-item-name">BrightJS</div>
                </a>
            </div>
            <div class="span1-6">
                <a class="base-header-projects-item" href="https://github.com/hou80houzhu/brightbuilder" target="_blank">
                    <img src="site/style/images/02.png"/>
                    <div class="base-header-projects-item-tip">Build the projects which run with the BrightJS web framework.</div>
                    <div class="base-header-projects-item-name">BrightBuilder</div>
                </a>
            </div>
            <div class="span1-6">
                <a class="base-header-projects-item" href="https://github.com/hou80houzhu/brighttoolkit" target="_blank">
                    <img src="site/style/images/03.png"/>
                    <div class="base-header-projects-item-tip">Chrome Develop Toolkit for BrightJS Projects</div>
                    <div class="base-header-projects-item-name">BrightToolkit</div>
                </a>
            </div>
            <div class="span1-6">
                <a class="base-header-projects-item" href="https://github.com/hou80houzhu/corgiserver" target="_blank">
                    <img src="site/style/images/04.png"/>
                    <div class="base-header-projects-item-tip">A web server running javascript like tomcat.</div>
                    <div class="base-header-projects-item-name">corgiserver</div>
                </a>
            </div>
            <div class="span1-6">
                <a class="base-header-projects-item" href="https://github.com/hou80houzhu/brightserver" target="_blank">
                    <img src="site/style/images/05.png"/>
                    <div class="base-header-projects-item-tip">Java web MVC framework. PageMaker is a part of it.To build custom and responsibility website.</div>
                    <div class="base-header-projects-item-name">PageMaker</div>
                </a>
            </div>
            <div class="span1-6">
                <a class="base-header-projects-item" href="https://github.com/hou80houzhu/corgiblog" target="_blank">
                    <img src="site/style/images/06.png"/>
                    <div class="base-header-projects-item-tip">Base on BrightJS framework,A dashboard UI</div>
                    <div class="base-header-projects-item-name">DashBoard</div>
                </a>
            </div>
        </div>
    </div>
    <div class="logic">
        <a href="about" class="logic-icon" data-find="icon"><img src="site/style/images/logo.png"/></a>
    </div>
    <div class="logicbtm">
        <div class="logic-btn"><a href="https://twitter.com/hou80houzhu" target="_blank"><i class="fa fa-twitter"></i></a></div>
        <div class="logic-btn"><a href="https://github.com/hou80houzhu" target="_blank"><i class="fa fa-github"></i></a></div>
    </div>
</div>
<!--[list]-->
<div class="list-container" data-find="container">
    <div>
        <%for(var i in data){%>
        <div class="list-con" data-group="item" @cache(data[i])>
            <div class="list-con-title"><a href="detail?id=<%=data[i].id;%>" data-groupi="title"><%=data[i].title;%></a></div>
            <div class="list-con-desc"><%=data[i].desc||"no description";%></div>
            <div class="list-con-time"><%=data[i].createTime;%></div>
        </div>
        <%}%>
    </div>
</div>
<div class="list-loading" data-find="loading"><div class="list-loading-icon"><i class="fa fa-loader fa-spin"></i></div></div>
<!--[copyright]-->
<div class="copyright">©2016 • All rights reserved.</div>
<!--[papercontent]-->
<div class="papercontent-con"><%=data;%></div>
<!--[paperheader]-->
<div class="paperheader-bg" data-find="bg"></div>
<div class="paperheader-content">
    <div class="paperheader-content-con">
        <div class="paperheader-content-title" data-find="title"><%=data.title;%></div>
        <div class="paperheader-content-desc">
            <div class="paperheader-content-desc-author">
                <div class="paperheader-content-desc-author-icon"><img src="<%=data.images||'site/style/images/logo.png';%>"/></div>
                <span class="paperheader-content-desc-author-name">Hou80houzhu</span>
                <span class="paperheader-content-desc-author-time" data-find="time"><%=data.time;%></span>
            </div>
        </div>
    </div>
</div>
<div class="paperheader-arrow" data-find="arrow"><i class="fa fa-keyboard_arrow_down"></i></div>
<div class="paperheader-fixed">
    <div class="paperheader-fixed-desc">
        <div class="paperheader-fixed-desc-author"><img src="site/style/images/logo.png"/></div>
        <div class="paperheader-fixed-desc-title" data-find="subtitle"><%=data.title;%></div>
    </div>
</div>
<!--[paperfooter]-->
<div class="paperfooter-bg"></div>
<div class="paperfooter-content">
    <div class="paperfooter-content-a">hou80houzhu`s developworks</div>
    <div class="paperfooter-content-b">this blog is created based on my open source projects <br/>
        Here we will record some of the things I think is worth sharing, as well as some of my projects dynamic<br/>
        Only to be a developer with craftsman spirit.</div>
    <div class="paperfooter-content-c">
        <a href="https://twitter.com/hou80houzhu" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://github.com/hou80houzhu" target="_blank"><i class="fa fa-github"></i></a>
    </div>
    <div class="paperfooter-content-d">
        <a class="paperfooter-content-d-a" href="index" data-find="home">HOME</a>
    </div>
    <div class="paperheader-content-e">©2016 • All rights reserved.</div>
</div>
<!--[about]-->
<div class="about-bg"></div>
<div class="about-icon">
    <div class="about-icon-logo"><img src="site/style/images/logo.png"/></div>
</div>
<div class="papercontent">
    <div class="papercontent-con" data-find="content"></div>
</div>
<!--[nofind]-->
<div class="nofind-img">
    <div class="nofind-img-con"><img src="site/style/images/logo.png"/></div>
    <div class="nofind-tip">404</div>
</div>
<!--[comment]-->
<div class="comment-con">
    <div class="comment-con-title">Comment</div>
    <div class="comment-con-list">
        <@module type="{{data.type}}"/>
    </div>
    <div class="comment-con-editor">
        <@module type="{{data.editortype}}"/>
    </div>
    <div class="comment-con-btns">
        <div class="comment-con-btn" data-bind="click:reply">I Want To Say</div>
    </div>
</div>
<!--[commentlist]-->
<%if(data.length>0){%>
    <%for(var i in data){%>
    <div class="comment-list-item" data-find="item">
        <div class="comment-list-item-left">
            <div><i class="fa fa-more_vert"></i></div>
        </div>
        <div class="comment-list-item-right">
            <div class="comment-list-item-basic">
                <div class="comment-list-item-basic-a">
                    <div class="comment-list-item-name"><%=data[i].name;%></div>
                    <div class="comment-list-item-time"><@date date="{{data[i].time}}"/></div>
                </div>
            </div>
            <div class="comment-list-item-content"><%=data[i].content;%></div>
            <%if(data[i].comment&&data[i].comment.length>0){%>
            <div class="comment-list-item-subcomment">
                <%for(var t=0;t<data[i].comment.length;t++){%>
                <div class="comment-list-item-content" data-bind="click:tosubreply" @cache({a:data[i],b:data[i].comment[t]})>
                    <%
                    var _ad=data[i].comment[t].name.split("|");
                    %>
                    <%if(_ad.length>1){%>
                        <span><%=_ad[0];%></span> 回复 <span><%=_ad[1];%>: </span>
                    <%}else{%>
                        <span><%=data[i].comment[t].name;%>：</span>
                    <%}%>
                    <span><%=data[i].comment[t].content;%></span>
                    <span><@date date="{{data[i].comment[t].time}}"/></span>
                </div>
                <%}%>
            </div>
            <%}%>
            <div class="comment-list-item-rep" @cache(data[i])  data-bind="click:subreply">add a comment</div>
        </div>
    </div>
    <%}%>
<%}%>
<!--[commentreply]-->
<div class="commentreply-con">
    <div class="commentreply-title"><%=data.title;%></div>
    <div class="commentreply-body">
        <div class="commentreply-input" data-find="input">
            <input type="text" placeholder="your name" name="name"/>
            <div class="commentreply-inpput-error"></div>
        </div>
        <div class="commentreply-input" data-find="input">
            <input type="text" placeholder="your real email" name="email"/>
            <div class="commentreply-inpput-error"></div>
        </div>
        <div class="commentreply-input" data-find="input">
            <textarea placeholder="your reply" name="content"></textarea>
            <div class="commentreply-inpput-error"></div>
        </div>
    </div>
    <div class="commentreply-foot">
        <div class="commentreply-foot-btn" data-bind="click:reply">reply</div>
        <div class="commentreply-foot-btn" data-bind="click:close">close</div>
    </div>
</div>