<!--[todos]-->
<div class="todos-input">
    <div class="todos-input-checkall" data-bind="click:checkall">
        <%if(data.ischeckall){%>
        <i class="fa fa-checkbox-checked"></i>
        <%}else{%>
        <i class="fa fa-checkbox-unchecked"></i>
        <%}%>
    </div>
    <div class="todos-input-input"><input type="text" placeholder="what needs to be done?" data-bind='keyup:input'/></div>
</div>
<div class="todos-list">
    <%var has=false;%>
    <%for(var i in data.task){%>
        <%
            var render=false;
            if(data.all||data.task[i].checked&&data.active===false||data.task[i].checked===false&&data.complete===false){
                render=true;
            }
            if(data.task[i].checked===true){
                has=true;
            }
        %>
        <%if(render){%>
        <div unique="<%=data.task[i].id||(new Date().getTime());%>" class="todos-list-item<%=(data.task[i].checked?' checked':'');%>" data-group='item' @cache(data.task[i]) data-bind="click:ppt">
            <div class="todos-list-item-check" data-groupi='check' data-bind="click:check">
                <%if(data.task[i].checked){%>
                <i class="fa fa-checkbox-checked"></i>
                <%}else{%>
                <i class="fa fa-checkbox-unchecked"></i>
                <%}%>
            </div>
            <div class="todos-list-item-desc<%=(data.task[i].checked?' underline':'');%>"><%=data.task[i].desc;%></div>
            <div class="todos-list-item-remove" data-groupi='remove' data-bind="click:remove"><i class="fa fa-cross"></i></div>
        </div>
        <%}%>
    <%}%>
</div>
<div class="todos-tools">
    <div class="todos-tools-a"><%=data.totalleft;%> items left</div>
    <div class="todos-tools-b">
        <div class="todos-tools-b-btn<%=(data.all?' active':'');%>" data-bind='click:all'>All</div>
        <div class="todos-tools-b-btn<%=(data.active?' active':'');%>" data-bind='click:active'>Active</div>
        <div class="todos-tools-b-btn<%=(data.complete?' active':'');%>" data-bind='click:complete'>Completed</div>
    </div>
    <%if(has){%>
    <div class="todos-tootls-c" data-bind='click:clear'>Clear Completed</div>
    <%}%>
</div>
<div class="todos-shadow-a"></div>
<div class="todos-shadow-b"></div>

<!--[todos2]-->
<div class="todos-input">
    <div class="todos-input-checkall" data-bind="click:checkall">
        <%if(data.ischeckall){%>
        <i class="fa fa-checkbox-checked"></i>
        <%}else{%>
        <i class="fa fa-checkbox-unchecked"></i>
        <%}%>
    </div>
    <div class="todos-input-input"><input type="text" placeholder="what needs to be done?" data-bind='keyup:input'/></div>
</div>
<div class="todos-list">
    <%var has=false;%>
    <%for(var i in data.task){%>
        <%
            var render=false;
            if(data.all||data.task[i].checked&&data.active===false||data.task[i].checked===false&&data.complete===false){
                render=true;
            }
            if(data.task[i].checked===true){
                has=true;
            }
        %>
        <%if(render){%>
        <div class="todos-list-item<%=(data.task[i].checked?' checked':'');%>" data-group='item' @cache(data.task[i]) data-bind="click:ppt">
            <div class="todos-list-item-check" data-groupi='check' data-bind="click:check">
                <%if(data.task[i].checked){%>
                <i class="fa fa-checkbox-checked"></i>
                <%}else{%>
                <i class="fa fa-checkbox-unchecked"></i>
                <%}%>
            </div>
            <div class="todos-list-item-desc<%=(data.task[i].checked?' underline':'');%>"><%=data.task[i].desc;%></div>
            <div class="todos-list-item-remove" data-groupi='remove' data-bind="click:remove"><i class="fa fa-cross"></i></div>
        </div>
        <%}%>
    <%}%>
</div>
<div class="todos-tools">
    <div class="todos-tools-a"><%=data.totalleft;%> items left</div>
    <div class="todos-tools-b">
        <div class="todos-tools-b-btn<%=(data.all?' active':'');%>" data-bind='click:all'>All</div>
        <div class="todos-tools-b-btn<%=(data.active?' active':'');%>" data-bind='click:active'>Active</div>
        <div class="todos-tools-b-btn<%=(data.complete?' active':'');%>" data-bind='click:complete'>Completed</div>
    </div>
    <%if(has){%>
    <div class="todos-tootls-c" data-bind='click:clear'>Clear Completed</div>
    <%}%>
</div>
<div class="todos-shadow-a"></div>
<div class="todos-shadow-b"></div>