.imagesuploader{
    padding:20px 0 20px 0;
    position:relative;
    .imagesuploader-label{
        line-height:35px;
    }
    .imagesuploader-container{
        position:relative;
        background:white;
        border:1px solid #D7D7D7;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        border-radius:5px;
        overflow:hidden;
        .imagesuploader-image{
            position:absolute;
            left:0;
            top:0;
            right:0;
            bottom:0;
            .imagesuploader-image-bg{
                position:absolute;
                left:0;
                top:0;
                right:0;
                bottom:0;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
            .imageuploader-progress{
                position:absolute;
                left:0;
                bottom:0;
                height:35px;
                background:#A0C4D2;
            }
            .imagesuploader-image-tip{
                line-height:30px;
                width:100px;
                text-align: center;
                position:absolute;
                left:50%;
                top:50%;
                margin-left:-50px;
                margin-top:-15px;
            }
        }
        .imagesuploader-filebtnplus{
            position:absolute;
            left:0;
            top:0;
            right:0;
            bottom:0;
            width:100%;
            height:100%;
            input{
                display:block;
                width:100%;
                height:100%;
                position:absolute;
                left:0;
                top:0;
                right:0;
                bottom:0;
                opacity: 0
            }
        }
    }
}